<mat-card class="mtb1">
  <mat-card-header>
    <div class="lightbulb on">
      <fa-icon [icon]="faLightbulb"></fa-icon>
    </div>
    <div>
      <mat-card-title>Ceiling</mat-card-title>
      <mat-card-subtitle>Currently on</mat-card-subtitle>
    </div>
    <div class="options">
      <button mat-button class="options-button">
        <fa-icon [icon]="faSlidersH"></fa-icon>
      </button>
    </div>
  </mat-card-header>
</mat-card>
<mat-card class="mtb1">
  <mat-card-header>
    <div class="lightbulb">
      <fa-icon [icon]="faLightbulb"></fa-icon>
    </div>
    <div>
      <mat-card-title>Indirect Lights</mat-card-title>
      <mat-card-subtitle>Currently off</mat-card-subtitle>
    </div>
    <div class="options">
      <button mat-button class="options-button">
        <fa-icon [icon]="faSlidersH"></fa-icon>
      </button>
    </div>
  </mat-card-header>
</mat-card>
<h2 class="mt1 mb0">Scheduled events</h2>
<mat-card class="mtb1">
  <mat-card-header>
    <div class="lightbulb on">
      <fa-icon [icon]="faLightbulb"></fa-icon>
    </div>
    <div>
      <mat-card-title>Alarm</mat-card-title>
      <mat-card-subtitle
        >Repeats every workday<br />Turn on at 07:00</mat-card-subtitle
      >
    </div>
    <div class="options">
      <button mat-button class="options-button">
        <fa-icon [icon]="faSlidersH"></fa-icon>
      </button>
    </div>
  </mat-card-header>
</mat-card>
<h2 class="mt1 mb0">Custom actions</h2>
<mat-card class="mtb1">
  <mat-card-header>
    <div class="lightbulb">
      <fa-icon [icon]="faLightbulb"></fa-icon>
    </div>
    <div>
      <mat-card-title>Color cycle</mat-card-title>
    </div>
  </mat-card-header>
</mat-card>
