<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>SmartUi</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <mat-divider></mat-divider>
      <h3>Rooms</h3>
      <a mat-list-item routerLink="/room">All</a>
      <a mat-list-item routerLink="/room">Bathroom</a>
      <a mat-list-item routerLink="/room">Bedroom</a>
      <a mat-list-item routerLink="/room">Kitchen</a>
      <a mat-list-item routerLink="/room">Living room</a>
      <mat-divider></mat-divider>
      <h3>Utilities</h3>
      <mat-list-item>Bath exhaust</mat-list-item>
      <mat-list-item>Cleaning</mat-list-item>
      <mat-list-item>Windows</mat-list-item>
      <mat-divider></mat-divider>
      <h3>Settings</h3>
      <mat-list-item>Appearance</mat-list-item>
      <a mat-list-item routerLink="/settings">Settings</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Living room</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
